.header {
    background-color: #1F2937;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    max-width: 1500px;
    align-items: center;
}

#logo{
    font-size: 24px;
    color: #E5E7EB;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0px;
  }
  